/* Media queries enshit */
/* roots nshit */
:root {
  /* kleuren */
  --home-header-nav-kleur-svg-1: #F5F5F7;
  --home-header-nav-kleur-svg-2: #FFF;
  --home-background-color: lightblue;
  --home-header-background-color: rgba(37, 38, 40, 0.21);
  --home-main-section-background-color: rgba(237, 237, 238, .3);
  /* vormen en grotes */
  --home-main-section-sqaure: 19.65em;
  /* stylings */
  --home-main-section-box-shadow: 0.5em 0.5em 0.8em rgba(0, 0, 0, 0.1);
}

/* body en grote tags die overruled mogen worden blablabla */
/* .home is de body van index */
.home {
  background-color: var(--home-background-color);
  background: url("img/wallpaper.webp") no-repeat top center fixed;
  width: 100%;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: SF Pro Text, Helvetica Neue, sans-serif;
}

.home header: {
  background-color: var(--home-header-background-color);
}

/* net niet cool genoeg om bij de vorige te mogen */
.home main {
  padding-top: 5.875em;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--home-main-section-sqaure));
  max-width: calc(var(--home-main-section-sqaure) * 3 + 4em);
  gap: 2em;
  justify-content: center;
  margin-left: 6em;
  margin-right: 6em;
}

.home main section {
  background-color: white;
  height: var(--home-main-section-sqaure);
  border-radius: 1em;
  box-shadow: var(--home-main-section-box-shadow);
}

img {
  width: 10%;
}

nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 2.75em;
}

ul {
  list-style-type: none;
  display: flex;
  width: auto;
  flex-wrap: nowrap;
}

svg {
  /* komt nog */
}

path {
  /* komt nog */
}

/*  nth of type bs denk ik */
body>header:first-child {
  width: 100%;
  background-color: rgba(37, 38, 40, 0.21);
  background-image: radial-gradient(circle at 25%, hsla(0, 0%, 100%, 0.2), rgba(50, 50, 50, 0.2) 80%);
  backdrop-filter: blur(0.8em);
  position: fixed;
  color: white;
  top: 0;
}

header ul:nth-of-type(1) {
  display: flex;
  align-items: center;
  padding: 0;
  position: absolute;
  top: -0.5375em;
}

ul:nth-of-type(1) li {
  margin-left: .8725em;
}

ul:nth-of-type(1) a {
  text-decoration: none;
}

ul:nth-of-type(1) svg:first-of-type {
  width: 5.625em;
  height: 1.9375em;
}

ul:nth-of-type(1) li:nth-of-type(2) svg {
  fill: var(--home-header-nav-kleur-svg-1);
  width: 3.25em;
  height: 1.375em;
}

ul:nth-of-type(1) li:nth-of-type(2) {
  margin-left: 0.25em;
  margin-top: 0.0615625em;
}

ul:nth-of-type(1) g:nth-of-type(2) path {
  fill: var(--home-header-nav-kleur-svg-2);
  opacity: .569;
}

ul:nth-of-type(1) g:nth-of-type(1) path {
  fill: var(--home-header-nav-kleur-svg-1);
}

ul:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  position: absolute;
  right: 0.3em;
  top: -0.5em;
}

ul:nth-of-type(2) li {
  padding-left: 0.6875em;
  padding-right: 0.6875em;
}

ul:nth-of-type(2) li:nth-of-type(4) img {
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
}

.home main button:first-of-type {
  background-color: var(--home-header-background-color);
  color: white;
  border-radius: 1.375em;
  padding: 0;
}